@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

body {
  /* font-family: "Roboto"; */
  font-family: "Poppins" !important;
}

html body {
  background-color: rgb(29, 29, 29);
  color: white;
}

.logo {
  text-decoration: none !important;
  color: white !important;
  letter-spacing: 2px;
}
